@font-face {
    font-family: 'crackregular';
    src: url('crack-webfont.woff2') format('woff2'),
         url('crack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  text-align: center;
  background-image: url("297352-296664-682747-sanju-poster11.jpg");
}

h1 {
    font-family: 'crackregular';
    font-size: 8rem;
    text-align: center;
    color: darkblue;
}

h2{
  font-family: 'Antonio', sans-serif;
}

p{
  font-family: 'Shippori Mincho', serif;
}

.link_pad{
  padding-left: 10px;
}
.contact{
  width: 31px;
}

.contact:hover{
  width: 30px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: auto;
}

.headerfont {
    font-weight: bold;
    font-family: 'Verdana';
    margin: 0;
}
